<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Money Transfer Portal</title>
</head>
<body>
    
    
    <div>
        <form action="/transferMoneyPortal" method="POST">
            <label for="accountNoFrom">From</label>
            <input type="number" id="accountNoFrom" name="accountNoFrom" required>
            <label for="accountNo">To</label>
            <input type="number" id="accountNoTo" name="accountNoTo" required>
            <label for="amount">Amount</label>
            <input type="number" id="amount" name="amount" required>
            <button>Submit</button>
        </form>
    </div>
    
    <!-- <div>
        <form action="/transferMoneyFrom/{accountNumberFrom}" method="PUT">
            <label for="withdrawFrom">The amount of money you want to transfer : </label>
            <input type="number" id="amount" name="amount" required>
            <button>Submit</button>
          </form>
    </div> -->
</body>
</html>